body {
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    text-align: center;
}

.main-score-div {
    margin-top: 0;
    text-align: center;
    height: 700px;
    background: linear-gradient( hsl(252, 100%, 67%) , hsl(241, 81%, 54%)) ;
    color: #e2dffd;
    font-size: 30px;
    border: none;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    padding: 20px 35px;
    margin-bottom: 50px;
    
}

.main-score-div h3 {
    font-size: 50px;
    font-weight: 700;
    color: white;
}


.score-div {
    background: linear-gradient(hsla(256, 72%, 46%, 1) , hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    justify-content: start;
    align-items: center;
    border: none;
    border-radius: 100%;
    margin-bottom: 0px;
}

.score-div h3 {
    font-size: 55px;
    margin-bottom: 1px;
}

.score-div p {
    margin-top: 2px;
}

.summery-div {
    margin: 45px;
    font-size: 30px;
    text-align: start;
}

.summery-sub-div {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    margin: 25px 0px;
    border: none;
    border-radius: 17px;
    padding-right: 25px;
}

.summery-item {
    display: flex;
    justify-content: space-evenly;
    width: 250px;
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.137);
    color: hsl(0, 100%, 67%);
}

.memory {
    background-color: hsla(39, 100%, 56%, 0.137);
    color: hsl(39, 100%, 56%);
}

.verbal {
    background-color: hsla(166, 100%, 37%, 0.137);
    color: hsl(166, 100%, 37%);
}

.visual {
    background-color: hsla(234, 85%, 45%, 0.137);
    color: hsl(234, 85%, 45%);
}

.continue-btn {
    width: 850px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 40px 15px;

    color: #e2dffd;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 35px;
    background-color: hsl(224, 30%, 27%);

    border: none;
    border-radius: 50px;
}

.attribution { 
    font-size: 18px; 
    text-align: center; 
    margin-top: 50px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    margin-top: 0;
}

@media only screen and (min-width: 992px) {
    .main {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;       
    }

    .continue-btn {
        width: 570px;
        margin-top: 35px;
        padding: 16px 15px;
        font-size: 30px;
    }

    .main-score-div {
        height: 550px;
        font-size: 18px;
        margin-right: 5px;
    }

    .summery-div {
        margin: 20px;
        font-size: 20px;
        text-align: start;
        margin-right: 54px;
    }

    .summery-sub-div {
        margin: 15px;       
        border-radius: 17px;
        padding-right: 17px;
    }

    .attribution {
        margin-top: 0;
    }
}